/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.vsidx
*.vsidx
*.vsidx
.vs/GameUnity-Project-TopDown-G8/v17/.suo
*.vsidx
*.unity
*.meta
*.vsidx
.vs/GameUnity-Project-TopDown-G8/v17/.suo
